{{define "title"}}Powershell For Programmers - {{.Title}}{{end}}

{{define "body"}}
<div class="QTitle">{{.Title}}</li>
<div class="QText">{{.Text}}</div>
<pre><code class="Powershell">{{.Body}}</code></pre>

<form method="post">
    <ul>
    {{range $answerIndex, $answerBody := .Answers}}
    <input type="radio" id={{$answerIndex}} name="answerID" value={{$answerIndex}}>
    <label for={{$answerIndex}}>{{$answerBody.Text}}</label>
    {{end}}
    <input type="submit" value="Submit">
    </ul>
</form>

{{template "result" .}}
{{end}}
